.scroll-pane-full {
	-fx-background-insets: 0;
	-fx-padding: 0;
}

.certified-item {
	-fx-border-color: transparent transparent #b5b5b5 transparent;
	-fx-border-width: 0px 0px 1px 0px;
}

.back-button {
	-fx-background-color: transparent;
	-fx-padding: 0;
}

.back-button:hover {
	-fx-cursor: hand;
}

.contact-item {
	-fx-border-color: transparent transparent #b5b5b5 transparent;
	-fx-border-width: 0px 0px 1px 0px;
}

.contact-item:hover {
	-fx-background-color: #dfdfdf;
	-fx-cursor: hand;
}

.opaque {
	-fx-background-color: #f4f4f4;
}

.shadow {
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 90, 0, 0, 0);
}