@import "listview.css";
@import "scrollbar.css";
@import "snackbar.css";
@import "controls.css";

* {
	-fx-font-family: 'Roboto';
}

/* ------------------------------ */
/* SKIN                           */
/* ------------------------------ */

.tooltip {
	-fx-font-family: 'Roboto Medium';
	-fx-padding: 8px;
	-fx-font-size: 10px;
	-fx-font-fill: white;
	-fx-background-color: #6D6D6D;
	-fx-border-radius: 4px;
}

.page-corner {
    -fx-shape: " ";
}

.jfx-decorator {
    -fx-decorator-color: -blue-800;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}

.scroll-pane-full {
	-fx-background-insets: 0;
	-fx-padding: 0;
}

.shadow {
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 90, 0, 0, 0);
}

.gradient {
	-fx-background-color: linear-gradient(to top right, #59B1F7, #6666E2);
}

.card {
	-fx-background-color: #FFFFFF;
	-fx-border-color: -grey-200;
	-fx-border-style: solid;
	-fx-border-width: 2px;
	-fx-border-radius: 8px;
	-fx-background-radius: 8px;
}

.card .card-title {
	-fx-border-width: 0 0 2px 0;
	-fx-border-style: solid;
	-fx-border-color: -grey-200;
	-fx-padding: 20px 80px 20px 80px;
}

.title {
	-fx-font-family: 'Roboto Light';
	-fx-text-alignment: center;
	-fx-text-fill: -blue-grey-900;
	-fx-font-size: 18px;
}

.main-title {
	-fx-font-family: 'Roboto Light';
	-fx-text-alignment: center;
	-fx-text-fill: -blue-grey-50;
	-fx-font-size: 50px !important;
}

.text-white {
	-fx-text-fill: white;
}

.dialog-warning .jfx-layout-heading {
	-fx-background-color: -orange-400;
}

.dialog-warning .jfx-layout-body {
	-fx-padding: 24 24 24 24;
}

.text-sm {
	-fx-font-size: 13px;
}

.text-md {
	-fx-font-size: 14px;
}

.text-lg {
	-fx-font-size: 16px;
}

/* ------------------------------ */
/* NAVIGATION                     */
/* ------------------------------ */

.jfx-tool-bar {
	-fx-font-size: 20;
    -fx-font-weight: BOLD;
    -fx-pref-width: 100%;
}

.jfx-tool-bar .jfx-button {
	-fx-text-fill: -light-blue-50;
}

.jfx-tool-bar .label {
	-fx-text-fill: -light-blue-50;
}

.jfx-hamburger {
    -fx-spacing: 5;
    -fx-cursor: hand;
}

.jfx-hamburger StackPane {
    -fx-pref-width: 40px;
    -fx-pref-height: 7px;
    -fx-background-color: -light-blue-50;
    -fx-background-radius: 5px;
}
